figcaption.wp-element-caption {
	text-align: center;
	font-size: 90%;
	color: #676767;
}

.card:hover {
	border-radius: 8px !important;
	cursor: pointer;
	background: linear-gradient(180deg, #519702 0%, #45840c 100%) !important;
}

h1.wp-block-post-title {
	display: none !important;
}

.card p {
	margin-block-start: 0 !important;
	padding-bottom: 5px;
	padding-top: 5px;
}

.home h1.wp-block-post-title {
	display: none;
}

.wp-block-button__link {
	background-color: #709946;
	color: white;
	border-radius: 5px;
}

.wp-block-jetpack-contact-form textarea {
	height: 100px;
}

.site_header_wrap {
	background-size: cover;
	padding: 20px 0;
	background-position: top center;
	background-color: #ebe7d7;
}

.site_header_wrap > div {
	padding-bottom: 0 !important;
}

.site_header_wrap .wp-block-group {
	gap: 5px !important;
}

.wp-site-blocks {
	margin-top: 0;
	padding-top: 0;
}

.site_header_wrap .wp-block-jetpack-contact-form.header_newsletter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
	gap: 0;
}

.site_header_wrap .grunion-field-email-wrap.grunion-field-wrap {
	max-width: 260px;
}

.site_header_wrap form.contact-form {
	gap: 0;
	margin: 0 auto;
	flex-wrap: wrap;
}

.site_header_wrap button.wp-block-button__link {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.site_header_wrap input.email {
	border-width: 1.5px !important;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.site_header_wrap input:focus-visible {
	outline: 0 !important;
}

.site_header_wrap .wp-block-jetpack-contact-form.header_newsletter {
	flex: 0 0 50%;
}

.site_header_wrap .wp-block-heading {
	text-align: center;
}

/*Sponsor page Css*/
.page-id-586 .wp-block-group-is-layout-flow {
	margin-top: 0 !important;
}

.page-id-586 h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 49px;
}

.page-id-586 a {
	color: #40780D;
}

.sponsor-first-section .is-layout-flex {
	gap: 3rem;
}

.sponsor-first-section {
	font-style: normal;
}

.sponsor-breadcrumb {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 36%;
}

.sponsor-breadcrumb a {
	text-decoration: none;
}

.sponsor-brief-table {
	border: 1px solid #F2F2F2;
}

.sponsor-brief-table thead th {
	border: 0 solid;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 32px;
	color: #000000;
	padding: .8em 0;
}

.sponsor-brief-table thead {
	border-bottom: 0 solid;
}

.sponsor-brief-table td {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	color: #000000;
	border: 0 solid;
	padding: .2em;
}

.sponsor-brief-table tbody  tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.sponsors-slot {
	font-style: normal;
	font-weight: 400;
	font-size: 20.248px;
	line-height: 49px;
	color: #000000;
	border-radius: 50px;
	text-align: center;
	background: #F7D99E;
	padding: 6px 18px;
}

.sponsor-form label {
	font-style: normal;
	font-weight: 400 !important;
	font-size: 21px;
	line-height: 49px;
}

.sponsor-table-image-mobile {
	display: none;
}

.sponsor-header {
	margin-top: 0;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.sponsor-brief-table thead th {
		font-size: 16px;
	}
	
	.sponsor-brief-table td {
		font-size: 13px;
	}
	
	.sponsor-breadcrumb {
		margin: 0 auto;
		text-align: center;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	.page-id-586 h2 {
		font-size: 24px;
		line-height: 36px;
	}
	
	.page-id-586 p,.page-id-586 li {
		font-size: 16px;
		line-height: 32px;
	}
	
	.page-id-586 li {
		margin-left: -15px;
	}
	
	.sponsors-slot {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 8px 20px;
		line-height: 27px;
		margin-top: 20px;
	}
	
	.sponsor-welcome-text {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.sponsor-text-title-section h1 {
		font-size: 28px !important;
	}
	
	.sponsor-brief-table thead th {
		font-size: 10px;
		line-height: 20px;
	}
	
	.sponsor-brief-table td {
		font-size: 8px;
		line-height: 16px;
	}
	
	.sponsor-breadcrumb {
		margin: 0 auto;
		text-align: center;
	}
	
	.sponsor-form label {
		font-size: 18px;
		line-height: 27px;
	}
	
	.sponsor-form.wp-block-jetpack-contact-form .grunion-field-width-50-wrap {
		flex: auto !important;
		max-width: 100%;
	}
	
	.sponsor-welcome-text,.sponsor-table-section,.sponsor-name-list,.sponsor-form-section,.sponsor-notice-section,.global-sponsor-section {
		margin-top: 38px !important;
	}
	
	.sponsor-breadcrumb {
		width: 50%;
	}
}

@media only screen and (max-width: 424px) {
	.site_header_wrap .wp-block-jetpack-contact-form-container {
		display: none !important;
	}
}


.page-slug-tickets .wp-site-blocks > * + * {
    margin-block-start: 0rem;
}

.page-slug-tickets .wp-site-blocks > * + * {
	margin-block-start: 0 !important;
}

.page-slug-tickets .entry-content {
	margin-block-start: 0 !important;
}

.admin_only {
	display: none;
}

.logged-in .admin_only {
	display: block;
}


.entry-content #tix table.tix_tickets_table {
	background-color: #fef4d8;
	border-collapse: collapse;
	color: #0a3773;
	width: 100%;
}

.entry-content #tix table.tix_tickets_table thead tr th {
	font-weight: 700;
	padding: 1.5rem 2rem;
}

#tix table.tix_tickets_table tbody tr>td, #tix table.tix_tickets_table tbody tr>th {
	background: #fef4d8;
	box-sizing: border-box;
	padding: 1.5rem 2rem;
}

.entry-content #tix table.tix_tickets_table tbody tr>td>*,.entry-content #tix table.tix_tickets_table tbody tr>th>* {
	box-sizing: border-box;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list thead tr {
	border-bottom: 2px solid #0a3773;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list thead tr th.tix-column-description {
	text-align: left;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr>td,.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr>th {
	background: #fef4d8;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr>td:nth-child(2n),.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr>th:nth-child(2n) {
	background: #fffaec;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr:not(:last-child) {
	border-bottom: 2px solid #0a3773;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr th {
	padding: 3rem 2rem;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr th.tix-column-description {
	text-align: left;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr th.tix-column-description label.tix-ticket-title {
	display: inline-block;
	margin-bottom: .5rem;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr td {
	text-align: center;
}

.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr td.tix-column-price,.entry-content #tix table.tix_tickets_table.tix-tickets-list tbody tr td.tix-column-remaining {
	font-weight: 700;
}

.entry-content #tix table.tix_tickets_table.tix-order-summary {
	width: 100%;
}

.entry-content #tix table.tix_tickets_table.tix-order-summary thead tr {
	background-color: #fde9b1;
	border-bottom: 2px solid #0a3773;
}

.entry-content #tix table.tix_tickets_table.tix-order-summary thead tr th.tix-column-description {
	text-align: left;
}

.entry-content #tix table.tix_tickets_table.tix-order-summary tbody tr td.tix-column-per-ticket,.entry-content #tix table.tix_tickets_table.tix-order-summary tbody tr td.tix-column-price,.entry-content #tix table.tix_tickets_table.tix-order-summary tbody tr td.tix-column-quantity,.entry-content #tix table.tix_tickets_table.tix-order-summary tbody tr.tix-row-total {
	text-align: center;
}

.entry-content #tix table.tix_tickets_table.tix-order-summary tbody tr>td,.entry-content #tix table.tix_tickets_table.tix-order-summary tbody tr>th {
	background: #fef4d8;
}

.entry-content #tix table.tix_tickets_table.tix-order-summary tbody tr>td:nth-child(2n),.entry-content #tix table.tix_tickets_table.tix-order-summary tbody tr>th:nth-child(2n) {
	background: #fffaec;
}

.entry-content #tix table.tix_tickets_table.tix-attendee-form tbody tr:first-child>th {
	background-color: #fde9b1;
	border-bottom: 2px solid #0a3773;
}

.entry-content #tix form .tix-column-quantity select {
    padding: 10px;
}

.entry-content #tix input[type=submit]:hover {
    background-color: #d7637b;
}
.entry-content #tix input[type=submit] {
    background-color: #cd3c5a;
    border: none;
    border-radius: 2rem;
    color: #fff;
    display: block;
    font-family: Mulish, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5rem;
    padding: 1rem;
    transition: background-color .3s ease;
    width: 100%;
}

td.tix-column-quantity select option:nth-child(n+4) {
    display: none !important;
}

.entry-content #tix table.tix_tickets_table.tix-attendee-form input {
    background-color: #fff;
    border: 2px solid #fac83c;
    font-size: var(--wp--preset--font-size--medium);
    padding: 10px;
}

tr.tix-row-health-advisory td {
    background: #fff !important;
    font-size: 12px;
}

form#tix_checkout_form {
    display: block;
    overflow: hidden;
}

.tix-submit {
    text-align: left;
    float: none;
}

#tix .tix-wide-tab {
    width: auto;
    float:none;
    border-bottom: none;
}

table.tix-ticket-form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 100px;
}

table.tix-ticket-form th {
    padding: 10px;
    background: #ebe7d7;
}

table.tix-ticket-form td {
    padding: 15px 10px;
}

table.tix-ticket-form tr {
    border: 1px solid #e7e2cb;
}

body.single-post h1.wp-block-post-title, body.single-wcb_sponsor h1.wp-block-post-title {
    display: block !important;
	font-size: 42px;
    text-align: center;
}

.single-post .wp-block-post-featured-image {
    display: none;
}